.serial-card-format{

    margin-bottom: 300px;
    position: relative;
}

.serial-card-format>.serial-description{
    background-color: rgba(131, 73, 137, 0.178);
    width: 1000px;
    height: 300px;
    border-radius: 15px;
}

.serial-card-format>.serial-season-image{
    width: 500px;
    height: 300px;
    position: absolute;
    bottom: 50px;
    left: 450px;
}

.serial-card-format>.serial-description>.serial-season-imdb{
    background-color: yellow;
    width: 32px;
    height: ;
}





