.serial-header-container{
    background-color: rgba(0, 0, 0, 0.586);
    height: 290px;
    margin-bottom: 90px;
}

.serial-header-container .serial-header-image{
    width: 500px;
    height: 250px;
    position: relative;
    top: 20px;
    left: 500px;
}

.serial-header-container .serial-header-name{
    position: absolute;
    color: rgb(93, 9, 93);
    font-size: 60px;
    top: 50px;
    right: 100px;
    padding: 19px;
    border: 5px dashed rgb(93, 9, 93);
}

.serial-header-container .serial-header-personal-qr-code{
    position: absolute;
    top: 20px;
    left: 60px;
}